@media (max-width: 1280px) {
    .header__boxs {
        .object {
            display: none;
        }
    }
    .comment__company-item {
        & + & {
            margin-left: 50px;
        }
    }
    .list__items {
        justify-content: flex-start;
    }
    .connection {
        &__address {
            margin-right: 13px;
            &_text {
                font-size: 31px;
            }
        }
        &__form {
            &_findings {
                margin-right: 10px;
            }
            &_message textarea {
                width: 250px;
            }
        }
    }
}
@media (max-width: 1100px) {
    .header__boxs {
        .elems {
            &.elems {
                margin-left: 10px;
            }
        }
        .btns {
            width: 150px;
            font-size: 12px;
        }
        .flag {
            img {
                margin-right: 5px;
            }
        }
    }
    .connection {
        padding: 140px 10px;
    }
}
@media (max-width: 1000px) {
    .connection {
        padding: 50px 10px;
        &__info {
            display: block;
        }
        &__address {
            margin: 0 auto;
            text-align: center;
            &_contacts {
                margin-top: 64px;
            }
            &_band {
                margin: 0 auto;
                margin-top: 15px;
            }
            &_contact {
                margin: 0 auto;
                display: inline-block;
            }
            &_icons {
                margin-top: 24px;
                font-size: 22px;
            }
        }
        &__form {
            margin: 0 auto;
            margin-top: 35px;
            width: 95%;
            &_message textarea {
                width: 280px;
            }
        }
    }
}
@media (max-width: 850px) {
    .nav {
        display: none;
        order: 1;
        width: 100%;
    }
    .nav__list {
        .nav__item {
            display: block;
            background-color: $black;
            text-align: center;
            & + .nav__item {
                margin-left: 0;
            }
            &.activ {
                &::before {
                    display: none;
                }
            }
            a {
                padding: 15px 0;
            }
        }
    }
    .hamburger {
        display: block;
        width: 30px;
        cursor: pointer;
        div {
            height: 4px;
            background-color: #fff;
            border-radius: 2px;
            transition: all 0.3s;
            & + div {
                margin-top: 7px;
            }
        }
        &.activ {
            .first {
                transform: translateY(0) rotate(-45deg);
                width: 0;
                height: 0;
            }
            .second {
                transform: rotate(45deg);
            }
            .third {
                transform: translateY(-11px) rotate(-45deg);
            }
        }
    }
    .header__inners {
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: baseline;
        padding-top: 32px;
        padding-bottom: 32px;
        &.activ {
            height: 100%;
        }
    }
    .header__boxs {
        display: none;
        margin-left: auto;
        margin-right: auto;
        order: 2;
        &-wrap {
            display: none;
        }
        .elems {
            & + .elems {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    .flag {
        margin-left: auto;
    }
    .hedader__list {
        flex-wrap: wrap;
        max-width: 400px;
    }
}
@media (max-width: 700px) {
    .connection {
        &__form {
            p {
                text-align: center;
            }
            input {
                font-size: 14px;
                width: 100%;
            }
            input[type="submit"] {
                position: relative;
                top: 380px;
            }
            &_group {
                display: block;
            }
            &_message {
                position: relative;
                top: -80px;
                textarea {
                    width: 100%;
                }
            }
            &_findings {
                margin-right: 0;
            }
        }
        &__address_icons-mess {
            width: 60px;
        }
    }
    .footer {
        padding: 0;
    }
}
@media (max-width: 600px) {
    .connection__address_text {
        font-size: 29px;
    }
    .footer {
        &__inners {
            flex-direction: column;
            padding: 45px 0;
        }
        &__logos {
            margin-bottom: 30px;
        }
        &__information {
            text-align: center;
            margin-left: 0;
        }
    }
}
@media (max-width: 550px) {
    .flag-text {
        font-size: 10px;
    }
    .connection__address_text {
        font-size: 22px;
    }
}
@media (max-width: 440px) {
    .nav__list {
        left: -153px;
    }
    .connection {
        padding: 50px 0;
        &__address {
            &_contacts {
                margin-top: 60px;
                font-size: 20px;
            }
            &_icons {
                margin-top: 20px;
                font-size: 17px;
                &-mess {
                    width: 52px;
                }
            }
        }
        &__form {
            padding: 15px;
            width: 100%;
            p {
                font-size: 21px;
            }
            label,
            input[placeholder] {
                font-size: 13px;
                padding-left: 8px;
            }
            input {
                height: 43px;
            }
            input[type="submit"] {
                font-size: 15px;
                top: 310px;
            }
            &_group {
                margin-top: 25px;
            }
            &_findings-input {
                margin-top: 15px;
            }
            &_message textarea {
                height: 293px;
                font-size: 14px;
            }
        }
    }
    .footer__information {
        font-size: 16px;
    }
}
@media (min-width: 850px) {
    .nav {
        display: block !important;
    }
    .header__boxs {
        display: block !important;
    }
    .header__boxs-wrap {
        display: flex !important;
    }
    .header__inners {
        height: 93px !important;
    }
}
