.navigation {
    min-height: 69px;
    background-color: #f6f6f6;
    overflow: hidden;
    &__ul {
        display: flex;
        align-items: center;
        margin: 27px 23px;
        li {
            font-size: 14px;
            margin-right: 15px;
            &::after {
                content: "\1433";
                color: $green;
                margin-left: 13px;
            }
            &:last-child::after {
                content: "";
            }
            a {
                color: #2e2d37;
                text-decoration: none;
                &:hover {
                    color: $green;
                }
            }
            .active {
                color: $green;
            }
        }
    }
}
