@import "variable";
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 15px;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.header__wrapper {
    background-color: $black;
    height: auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header__logo {
    img {
        display: flex;
    }
}

.menu__list {
    .menu__item {
        display: inline-block;
        position: relative;
        font-size: 14px;
        a {
            padding: 25px 0;
            transition: all 0.3s;
            &:hover {
                color: $green;
            }
        }
        & + .menu__item {
            margin-left: 35px;
        }
        &.active {
            &::before {
                content: "";
                width: 7px;
                height: 7px;
                background-color: $green;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.burger-menu {
    display: none;
}

.menu {
    margin-left: auto;
    margin-right: auto;
}

.country {
    display: flex;
    align-items: center;
    margin-right: 10px;
    img {
        display: flex;
    }
    &-text {
        margin-left: 5px;
        font-size: 14px;
    }
}

.header__box {
    &-wrap {
        display: flex;
        align-items: center;
    }
    .elem {
        & + .elem {
            margin-left: 28px;
        }
    }
    .btn {
        width: 207px;
        height: 42px;
        background-color: $green;
        border-radius: 21px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        font-weight: 500;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    .add-object {
        border: 1px solid #fff;
        background-color: transparent;
    }
    .enter {
        background-color: #fff;
        color: $black;
    }
    .country {
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }
    &-img {
        display: none;
    }
}
.breadcrumbs {
   background-color: #f6f6f6; 
}
.breadcrumbs__inner {
    height: 64px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    height: 100%;
    li {
        position: relative;
        margin-right: 13px;
        list-style-type: none;
        font-size: 14px;
        & + li {
            padding-left: 15px;
            &::before {
                content: ">";
                position: absolute;
                top: 0;
                left: 0;
                color: $green;
            }
        }
        .active {
            color: $green;
        }
    }
    a {
        color: $black;
        transition: all 0.3s;
        &:hover {
            color: $green;
        }
    }
}

@import "connection";
@import "navigation";
@import "footer";
@import "media";
